.atas{
    text-align: center;
}

.pic{
    float: center;
    width:  15%; 
    height: 15%;

}
.navigation{
    
    width: auto;
    background-color: rgb(161, 93, 4);
    text-align: center;
    opacity: 80%;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
   
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    opacity: 100%;
}

nav a:hover{
    background-color: violet;
    color: blueviolet;
}

nav a.active{
    background-color: #4caf50;
    color: white;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 23px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
}

body{
    
    margin: 0%;
    background-repeat: no-repeat;
    background-image: url(../img/Corpus-Christi-College-University-of-Cambridge-England.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.descrip{
    text-align: center;
    font-size: 20px;
    color: orange;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 180px;
    border-radius: 30px;
    margin: 100px;
}

.joinbutton{
   
    text-align: center;
    padding-bottom: 10%;
   
}

.joinbutton button{
    position: relative;
    width: 250px;
    height: 50px;
    
    
    border-radius: 20px;
    font-size: 20px;
}

.cpy{
    background-color: orange;
    text-align: center;
    position: fixed;bottom:0;
    width: 100%;
    

}



.wlcm{
    color: orange;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 30px;
    margin: 100px;
}

